numpy
cython
ucca>=1.0.23
spacy>=2.0.5
dynet>=2.0.1
penman>=0.6.2
nltk>=3.2.5
parsimonious>=0.8.0
word2number>=1.1
pyspotlight>=0.7.1
requests>=2.8.14
logbook>=1.1.0
tqdm>=4.19.4
configargparse>=0.12.0
