numpy
cython
ucca==1.0.49
spacy==2.0.9
dynet==2.0.3
penman==0.6.2
nltk==3.2.5
parsimonious==0.8.0
word2number==1.1
pyspotlight==0.7.2
requests==2.18.4
logbook==1.1.0
tqdm==4.19.5
configargparse==0.12.0
